<ion-tabs>
  <ion-tab-bar slot="bottom,top">
    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>

    </ion-tab-button>
    <ion-tab-button tab="categorytab">
      <ion-icon src="assets/category.svg"></ion-icon>
     
    </ion-tab-button>
    <ion-tab-button tab="cart">
      <ion-icon name="cart-outline"></ion-icon>
    
    </ion-tab-button>
    <ion-tab-button tab="whishlist">
      <ion-icon src="assets/heart.svg"></ion-icon>
     
    </ion-tab-button>
    <ion-tab-button tab="account">
      <ion-icon name="person-outline"></ion-icon>
     
    </ion-tab-button>
    
  </ion-tab-bar>
</ion-tabs>