<div [ngClass]="{product: style === 'main', home: style === 'home' }">
  <ion-card   class="items ion-no-padding" >
    <div class="discount" *ngIf="item.discount>0">
      {{item.discount+'%'}}
    </div>
    <div class="image_wrapper">
      <img class="item-img" src="item.img" (click)="gotodetails(item)"/>
      <app-liked class="like" [item]="item" ></app-liked>
    </div>
    
    <ion-card-content >
      <span (click)="gotodetails(item)"> {{item?.name}}</span>
      <div class="price">&cent; <span class="before" *ngIf="item.discount>0">{{item.price_before}}</span> {{item?.final_price}}</div> 
      <div class="itemadd">
        <app-addcart-btn [item]="item"></app-addcart-btn>
      </div>
    </ion-card-content>
  </ion-card>
</div>


