<ion-header  class="ion-no-border" [translucent]="true">
  <ion-toolbar>
    <ion-title>My Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">
  <div class="profile">
    <ion-item>
      <div class="propic"></div>
      <div class="wrapper">
        <div class="name">
          Rewan Abubaker
        </div>
        <div class="email">
          rewanabubaker@gmail.com
        </div>
      </div>
      
    </ion-item>
  </div>
  <div class="options">
    <ion-item button detail="true">
      <ion-label>
        <h3>My orders</h3>
        <p>Already have 3 orders</p>
      </ion-label>
    </ion-item>
    <ion-item button detail="true">
      <ion-label>
        <h3>Shipping addresses</h3>
        <p>4 addresses</p>
      </ion-label>
    </ion-item>
    <ion-item button detail="true">
      <ion-label>
        <h3>Payment methods</h3>
        <p>Visa ...23</p>
      </ion-label>
    </ion-item>
    <ion-item button detail="true">
      <ion-label>
        <h3>Settings</h3>
        <p>Notification, password</p>
      </ion-label>
    </ion-item>

    <ion-button (click)="logout()" expand="block" fill="clear" shape="round">
      Log Out
    </ion-button>
    
  </div>
</ion-content>
