ion-content{
    --ion-padding:20px;
}
.wrapper{
    display: flex;
    flex-direction: column;
    padding: 0px 0px 40px;
}
.name{
    font-family: "rubik-medium";
    font-size: 1.2rem;
}
.email{
    font-family: "rubik-medium";
    font-size: .8rem;
    color: rgb(162, 162, 162);
}


ion-item{
    h3, p {
        font-family: "rubik-medium";
    }
    
}