ion-item{
    --border-style: solid;
}

.header{
    color: hsl(0, 0%, 33%);
    
}

.container {
    padding: 3px 3px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    gap: 10px;
    align-items: stretch;
}
.card {
    
    height: 100px;
    width: 90px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    border-radius: 5px;
}
.cardContainer{
    display: flex;
    flex-direction:column;
}
.childImg{
    height: 80px;
    
}
.childName{
    text-align: center;
    font-size: 0.5rem;

}