<ion-header  class="ion-no-border" [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid >
    <ion-row class="ion-justify-content-center">
      <ion-col size-xs="10" >
        <ion-accordion-group>
          <ion-accordion *ngFor="let category of categories" >
            <ion-item slot="header">
              <ion-label class="header">{{category.name}}</ion-label>
            </ion-item>
      
            <div class="container" slot="content" >
              
                <div class="card"  *ngFor="let child of category.childCategories; let i=index" (click)=" routetoproduct(child)">
                  <div class="cardContainer">
                    <div class="childImg">
                      <img src="https://imag.unsplash.com/photo-1509021436665-8f07dbf5bf1d?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxleHBsb3JlLWZlZWR8M3x8fGVufDB8fHw%3D&w=1000&q=80" alt=" ">
                    </div>
                    <div class="childName">{{child.name}}</div>
                  </div>
                  
                </div>

        
              </div>
          </ion-accordion>
         
        </ion-accordion-group>
      </ion-col>
    </ion-row>
  </ion-grid>
  
</ion-content>

