<ion-header  class="ion-no-border" [translucent]="true">
 
  <ion-toolbar>
    <ion-title >My Wishlist</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div *ngIf="wishlistItems.length === 0">
    <div class="container">
      
        <ion-icon class="empty-wish" slot="icon-only" src = "assets/empty-wishlist.svg"></ion-icon>
        <p class="one">Your wishlist is empty!</p>
        <p class="two">Explore more and shortlist some items</p>
        <ion-button routerLink="/pages/home">
          START SHOPPING
        </ion-button>
    </div>
  </div>
  <ion-grid >
    <ion-row class="ion-align-self-center">
      <ion-col size="6" *ngFor="let item of wishlistItems; let i = index;">

        <app-product-card [item]="item" [style]="'main'"></app-product-card>
      </ion-col>
      
    </ion-row>
  </ion-grid>
</ion-content>
